VITE_MATRIX_SIGNIN_URL=https://www.piceus.com
PICEUS_AUTH_HOME_PATH=#matrix-home
PICEUS_AUTHENTICATED_DEFAULT=false
PICEUS_DEFAULT_USER_NAME=Matrix Member
PICEUS_DEFAULT_USER_ROLE=Authenticated Visitor
PICEUS_CONTACT_EMAIL=william.weems@gmail.com
PICEUS_MATRIX_PRODUCT_NAME=MATRIX
PICEUS_LEGACY_ORIGIN_URL=
PICEUS_LEGACY_ORIGIN_LABEL=Current MATRIX shell
PICEUS_MATRIX_API_URL=https://merlin-theme-api-deploy.vercel.app
PICEUS_MATRIX_LOGIN_PATH=/login
PICEUS_MATRIX_REGISTER_PATH=/register
PICEUS_MATRIX_FORGOT_PASSWORD_PATH=/forgot-password
PICEUS_EXPECTED_VERCEL_SCOPE=buzz-corp
PICEUS_EXPECTED_VERCEL_PROJECT=piceus
PICEUS_PRIMARY_DOMAIN=www.piceus.com
PICEUS_SECONDARY_DOMAIN=piceus.com

